* {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
}

#produits {
    background-color: #dece;
}

#produits h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

#produits .row {
    justify-content: center;
}

.card-text-center {
    margin: auto 2rem;
}

.card-body a:hover {
    color: #000;
}

footer .container-fluid .row .col-sm-12 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
